body {
  font-family: "plus jakarta sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* navbar */
.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-socials,
.f-info-links,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials-icons {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}

/* card effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* new page btn */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* edit btn */
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* show page */
.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

/* MAP */
#map {
  height: 400px;
  width: 100vh;
}

/* Filters */
#filters-wrapper {
  position: relative;
  padding-right: 45px;
}

#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: 0.3s;
  overflow: hidden;
}

/* Hamburger button */
#filter-more-btn {
  position: absolute;
  right: 0;
  top: 22%;
  transform: translateY(-1%);
  z-index: 100;
  font-size: 30px;
  cursor: pointer;
  display: none; /* desktop hidden */
}

/* MAP */
#map {
  width: 100%;
  height: 300px;        /* Aap chahe to yeh height badha sakte hain */
  border-radius: 10px;  /* Optional */
}

/* Things to Know */
.things-box {
  border: 1px none #ddd;
  padding: 10px;
  border-radius: 10px;
  height: 200px;
  background: #fafafa;
}

.things-box p {
  color: gray;
}

.things-box p b {
  color: black;
}

.things-box p a {
  color: gray;
}

.things-box p a:hover {
  color: black;
}


/* RESPONSIVENESS */
@media (max-width: 700px) {
  #filter-more-btn {
    display: block;
  }

  /* hide all filters */
  #filters .filter {
    display: none;
  }

  /* show first  */
  #filters .filter:nth-child(-n + 4) {
    display: flex;
  }

  /* show all when expanded */
  #filters.expanded .filter {
    display: flex;
  }

  /* tax toggle always visible */
  #filters .tax-toggle {
    display: flex !important;
  }

  #filters .res {
    display: none !important;
  }
}


@media (max-width: 768px) {
  #map {
    height: 250px;
  }
}

@media (max-width: 480px) {
  #map {
    height: 200px;
  }
}